<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARYBELARISTAWEB</title>
    <link rel="icon" type="image/x-icon" href="assets/image/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/index.css">
</head>

<body>
    <main class="aviso">
        <div>
            <h1>AVISO DE PRIVACIDAD</h1>
            <h2>ARISTA STUDIO S.A. de C.V. (en adelante, “ARISTA STUDIO”), con domicilio en Av. Presidente Masaryk No.
                25, 5º piso (PH), Col. Polanco, CDMX, C.P. 11570, es responsable de recabar sus datos personales y datos
                personales sensibles, del uso que se les dé a los mismos y de su protección, siempre y cuando usted los
                proporcione, ya sea:



                Por virtud de entregarlos a ARISTA STUDIO para revisión, o

                En consecuencia de ser cliente o convertirse en cliente o ser cliente potencial de ARISTA STUDIO.



                A continuación, se informa a usted sobre los datos que son recabados, las finalidades y características
                relevantes de su tratamiento:



                I. DATOS PERSONALES Y DATOS PERSONALES SENSIBLES QUE SE RECABAN Y FINALIDADES DE TRATAMIENTO. Su
                información (datos personales y datos personales sensibles) será utilizada exclusivamente para las
                siguientes finalidades primarias: (i) emisión de diagnóstico legal; (ii) control de registro de
                atención; (iii) chequeo legal general; (iv) entrega de recomendaciones; (v) revisión; (vi) entrega de
                propuestas, y (vii) utilización de sus datos para defensa legal, ante tribunales locales o federales, o
                autoridades locales o federales, entre otros.

                ​

                Para efectos de las finalidades antes descritas, podríamos requerir obtener de usted los siguientes
                datos personales y datos personales sensibles: datos personales: i) información corporativa o personal
                (datos generales) según se trata de persona moral o física, respectivamente, ii) nombres,
                identificaciones y datos de representantes legales, iii) Dirección, iv) Registro Federal de
                Contribuyente, v) Datos Bancarios, vi) otros relevantes y relacionados con los anteriores, de ser el
                caso.

                ​

                *Si usted considera que alguna de las finalidades descritas en este apartado no tiene origen o no es
                necesaria para el tipo de relación que tiene o pudiere tener con ARISTA STUDIO, puede manifestar su
                negativa por escrito señalándolo expresamente en escrito a presentarse ante ARISTA STUDIO en su
                domicilio. Se señala que las finalidades descritas en el presente aviso son necesarias para el
                cumplimiento y posible contratación y/o inicio de relación comercial u otra, entre las partes, y para
                llevar a cabo las finalidades primarias descritas.

                ​

                II. CONTROLES DE SEGURIDAD Y COMUNICACIÓN DE LOS DATOS PERSONALES Y PERSONALES SENSIBLES. ARISTA STUDIO
                y todo su personal reconoce la importancia de un adecuado tratamiento para sus datos personales y datos
                personales sensibles y, como consecuencia de ello, se han implementado diversos controles y medidas de
                seguridad administrativas, técnicas y físicas adecuadas que permiten que dichos datos personales y datos
                personales sensibles conserven su carácter confidencial y previenen tanto un daño, pérdida, alteración,
                destrucción o uso, acceso o tratamiento no autorizados, de conformidad con lo dispuesto en la “Ley”
                (entendida como la Ley Federal de Datos Personales en Poder de Particulares y cualquiera otro
                ordenamiento y/o legislación aplicable).



                Los datos personales y datos personales sensibles que han sido recabados de usted se compartirán con
                otras sociedades (nacionales o internacionales) que forman parte del mismo grupo corporativo de ARISTA
                STUDIO, podrán ser compartidos también con aquellos proveedores que ARISTA STUDIO utilice para la
                realización de las actividades relacionadas con los fines señalados, o si otra empresa adquiere a ARISTA
                STUDIO, o si los mismos son necesarios a fin de proteger y defender los derechos y la propiedad de usted
                como cliente y/o ARISTA STUDIO mismo (inclusive en la aplicación de nuestros Términos y Condiciones) o
                cuando la ley o las autoridades así lo requieran, requiriendo por tanto de su consentimiento para dicha
                transferencia en términos de la fracción III del artículo 37 de la “Ley”.



                III. EJERCICIO DE DERECHOS ARCO Y POSIBLE REVOCACIÓN DEL CONSENTIMIENTO. El ejercicio de los derechos de
                acceso, rectificación, cancelación y oposición (en adelante “derechos ARCO”), se hará valer mediante su
                contratación con ARISTA STUDIO o de ARISTA STUDIO, en el entendido de que los servicios de ARISTA STUDIO
                se ejecutan precisamente para esos efectos, lo que reconoce el prospecto cliente salvo su manifestación
                efectuada por escrito y señalado anteriormente como escrito libre que cumpla con la información y anexos
                mínimos descritos por el artículo 29 de la “Ley” y que acompañado por copia de su documento de
                identificación (y, en su caso, del documento de identificación de su representante y el documento que
                acredite su personalidad) deberá ser presentado ante el Oficial de Privacidad de ARISTA STUDIO, que es
                la persona designada para atender y dar trámite a cualquier solicitud en el tema de datos personales
                (mismo que se encuentra ubicado en el domicilio de ARISTA STUDIO) o bien ser enviado a la dirección
                electrónica marybelarista@aristastudio.com siempre que se confirme vía telefónica su correcta recepción.
                Asimismo, usted puede comunicarse con el Oficial de Privacidad de ARISTA STUDIO al teléfono 0000-00-00
                de lunes a viernes de las 9:00 am a las 2:00 pm (hora del centro de México).



                Para la cancelación y oposición, usted debe tomar en consideración que las finalidades descritas en el
                presente aviso son necesarias para la ejecución de los servicios y/o la instalación de la relación
                comercial u otra, y para que se lleven a cabo las finalidades primarias descritas.

                ​

                En caso de que la información proporcionada sea errónea o insuficiente, o bien, no se acompañen los
                documentos de acreditación correspondientes, podremos solicitarle, dentro de los cinco días hábiles
                siguientes a la firma del presente, que aporte los elementos o documentos necesarios. Usted contará con
                diez días hábiles para atender el requerimiento, contados a partir del día siguiente en que lo haya
                recibido. De no dar respuesta en dicho plazo, se tendrá por no completado el proceso de acreditación e
                información correspondiente.

                ​

                Usted también puede revocar su consentimiento al tratamiento mediante una solicitud que entregue o envíe
                a las direcciones antes mencionadas a través de los mismos medios y procedimientos dispuestos para el
                ejercicio de los derechos ARCO.



                Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o
                concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir
                tratando sus datos personales y/o datos personales sensibles. Asimismo, usted deberá considerar que para
                los fines, la revocación de su consentimiento, cancelación u oposición al tratamiento, implicará que no
                le podamos seguir prestando el servicio que nos solicitó o se brinda por ARISTA STUDIO, afectar la relación
                jurídica que existe entre las partes, o la conclusión de su relación con nosotros.



                IV. LIMITACIÓN DE USO O DIVULGACIÓN DE LOS DATOS PERSONALES Y PERSONALES SENSIBLES. Se informa que los
                datos personales y personales sensibles obtenidos por esté medio se conservarán por ARISTA STUDIO y/o
                sus Encargados por un periodo de 2 (dos) años, y una vez concluido el mismo los datos personales serán
                destruidos o eliminados de la base de datos.



                Asimismo, en caso de que aplique, usted podrá limitar el uso o divulgación de sus datos personales a
                través de los mismos medios y procedimientos dispuestos para el ejercicio de los derechos ARCO.



                VI. ACTUALIZACIONES Y/O MODIFICACIONES AL AVISO DE PRIVACIDAD. ARISTA STUDIO se reserva el derecho de
                actualizar y/o modificar los términos del presente aviso de privacidad en cualquier momento, para la
                atención de novedades legislativas, políticas internas, o nuevos requerimientos, en cuyo caso,
                comunicará dicha situación de manera personal para la obtención de su firma en original.



                *Si usted tiene cualquier duda o inquietud adicional acerca de nuestras prácticas de privacidad le
                pedimos se ponga en contacto con nosotros a través de la dirección electrónica
                marybelarista@aristastudio.com




                CONSENTIMIENTO AL TRATAMIENTO: Por lo anteriormente expuesto, usted consiente expresamente en este acto:

                Que el presente Aviso le ha sido dado a conocer por ARISTA STUDIO, y que lo ha leído y entendido,

                Haber acordado los términos expuestos en este Aviso, por lo que otorga su consentimiento a ARISTA STUDIO
                para recabar, almacenar, manejar, tratar, usar, transferir y compartir sus datos personales y datos
                personales sensibles con las demás sociedades de su grupo corporativo y los terceros que utilice para el
                cumplimiento de las finalidades establecidas en el presente Aviso de Privacidad y sus servicios, y

                Que sus datos personales sensibles sean tratados conforme a los términos y condiciones del presente
                aviso de privacidad.</h2>
        </div>
    </main>
</body>

</html>