.mainabout {
    background-color: white;
    color: #421247;
    display: inline-block;
    padding-left: 6%;
}

.seccionuno {
    background-color: #421247;
    float: left;
    padding: 1%;
    color: #FFE600;
}

.contenidomainabout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "presentacion fotomarybel";
}

.presentacion {
    padding: 30%;
    float: left;
    text-align: left;
}

.fotomarybel {
    float: inline-end;
    padding: 15%;
}