.mainportafolio {
    background-color: #FFE600;
    padding-block-end: 100px;
    border-top: 500px;
    font-weight: bolder;
    color: #421247;
    font-size: 1em;
    text-align: left;
    padding-left: 80px;
    text-decoration: none;
}

.seccionuno {
    background-color: #421247;
    float: left;
    padding: 1%;
    color: #FFE600;
}

.portafolio {
    text-align: center;
    padding: 8%;
}
