.main {
    background-color: #421247;
    padding-top: 100px;
    padding-block-end: 100px;
    border-top: 500px;
    font-weight: bolder;
    color: #FFE600;
    font-size: 2em;
    text-align: left;
    padding-left: 100px;
    text-decoration: none;

    &section>article>h1 {
        padding: 8%;
        color: #FFE600;
    }
}

/* .main>section>article>h1 {
    padding: 8%;
    color: #FFE600;
} */

.boton {
    padding-left: 8%;
}

.boton>a {
    background-color: #FFE600;
    text-decoration: none;
    font-weight: bolder;
    padding: 1%;
    color: #421247;
}

.boton>a:hover {
    color: rgb(255, 255, 255);
    font-weight: normal;
}