/* RESET */
* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
}

/* GLOBAL */
body {
    background-color: #421247;

}

@for $i from 1 through 3 {
    .img-#{$i} {
        width: 100%;
        height: 200px;
        background-size: cover;
    }
}

.img-1{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-image: url("../../image/branding.png");
}

.img-2{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-image: url("../../image/socialmedia.png");
}

.img-3{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-image: url("../../image/sitioweb.png");
}



