@media screen and (max-width:768px) {
    .contenidomainabout {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "presentacion"
        "fotomarybel";
    }

}

@media screen and (max-width:768px) {
    .contenidoservicios {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "branding" "socialmedia" "web";
    }

}