footer {
    padding-top: 60px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 60px;
    text-align: center;
    font-weight: lighter;
    color: white;
    font-size: smaller;
    background-image: linear-gradient(to right, #411241, #8377D1);
}

.redes {
    padding: 2%;
}