.header {
    width: 100%;
    position: relative;
}

.nav {
    background-color: #421247;
    height: 80px;
    color: #FFE600;
}

.nav_conteiner {
    display: flex;
    height: 100%;
    width: 90%;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;

}

/* .conteiner {
    width: 50%;
    max-width: 1200px;
    margin: auto;
} */

.logo {
    float: left;
    padding-left: 75px;
    padding-top: 10px;
}

.linea {
    width: 100%;
    size: 400;
    color: #FFE600;
}


/* .menu {
    float: right;
    line-height: 60px;
    list-style: none;
}

.menu>li {
    display: inline-block;
    font-family: rblack, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 20px 20px;
}

.menu a {
    color: #FFE600;
    text-decoration: none;
}

.menu>li>a:hover {
    color: rgb(255, 255, 255);
    font-weight: normal;
    border-bottom: 4px solid #FFE600;
} */